#bannerimage {
    width: 100%;
    background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png);
    height: 120px;
    background-color: rgb(97, 96, 96);
    display: flex;
    background-position: center;
}

.container{
    display: flex;
    justify-content: center;
}
